body {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 4rem 6rem;
  gap: 2rem;
}

th {
  text-align: start;
  background-color: darkslategrey;
  color: #fff;
}

th,
td {
  padding: 0.5rem;
  border-radius: 3px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:hover {
  background-color: lightblue;
  cursor: pointer;
}

.posts-table {
  border: solid 3px darkslategrey;
  border-radius: 6px;
}